    .img {
    width: 50rem;
    height: 20rem;
    display: block;
    margin-top: 2rem;
    border: thick double #32a1ce;}


    .fig{  display: block;
        margin: auto;
    text-decoration: none;}



    @media (max-width: 870px) {
        .img{ width: 40rem;
            height: 22rem}
    }

    @media (max-width: 740px) {
        .img{ width: 27rem;
            height: 17rem}
    }