.buttons {
  text-align: center;
}

@media (max-width: 990px) {
  .buttons {
    display: none;
  }
}

.world {
  position: relative;
  cursor: pointer;

}

img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.world p {margin: -0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
}
