.buttons {
  text-align: center;
}

@media (max-width: 990px) {
  .buttons {
    display: none;
  }
}

img {
  height: 70px;
  width: 70px;
  cursor: pointer;
  margin-top: -1rem;
  margin-left: -1rem;
}
